form {
    background-color: #213b50;
    color: white;
    width: 600px;
    padding: 20px;
    height: 800px;
}

label {
    font-size: 18px;
    text-decoration: none;
    
}
input[type="text"], input[type="tel"], input[type="email"], textarea {
    background-color: #2b4a64;
    width: 300px;
    height: 25px;
    color: #fff;
    border: #2b4a64 1px solid;
}

input:active {
    background-color: #213b50;
    border-color: #ffffff;
    color: #ffffff;
}

select#place {
    background-color: #2b4a64;
    color: white;
    width: 300px;
}


p#gender {
    color: white;
}
input[type="submit"] {
    background-color: green;
    border: #2b4a64 1px solid;
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 40px;
    font-weight: 800px;
    padding
    
    
}